# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.suo
*.user
*.userosscache
*.sln.docstates

# Environment and Sensitive Files
.env
.env.*
!.env.example
application.properties
application-*.properties
application.yml
application-*.yml
!application.properties.example
!application.yml.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
